# Dependency
node_modules/

# Uploads (Foto hasil photobooth)
uploads/*.png
uploads/*.jpg

# Environment & Logs
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Build/Dist (kalau nanti lu pake bundler)
dist/
build/